.container{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
}

.bg-pop{
  background-color: rgba(170, 30, 34, 1);
}

.jumbot{
  height: 100%;
  margin-top: 30px;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none !important;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

/* .navbar-brand .rounded .mx-auto .d-block .logo {
  width: 100px;
  height: 30px;
  background-image: url(img/logo-white.png);
  background-size: 30px;
  background-repeat: no-repeat;
  display: block;
} */

.logo {
  width: 168px;
  height: 40px;
  background-image: url(img/logo-white.svg);
  background-repeat: no-repeat;
}

/* body{
  background-image: url(img/logoputih.png);
  background-color: rgba(170, 30, 34, 1);
} */

/* MOBILE */
@media (max-width: 991.98px) {
  .logo {
    background-image: url(img/logo-icon.svg);
    height: 40px;
    width: 40px;
    justify-content: center;
  }
}