.container{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
}

.bg-pop{
  background-color: rgba(170, 30, 34, 1);
  height: 50px !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}